extends layout

block content
  
  .preview

    a.close(href="/")

    header
      h3.title-m ##{title}

    .filters

      .select-holder
        select.filter(data-filter=1)
          each filter in filters
            option #{filter}

      .select-holder
        select.filter(data-filter=2)
          option(disabled selected) Select filter
          each filter in filters
            option #{filter}

      .select-holder
        select.filter(data-filter=3)
          option(disabled selected) Select filter
          each filter in filters
            option #{filter}


    .results

      each post in posts
      
        .result

          each i in [1,2,3]

            div.filter-row(class='filter-'+ i)

              span.id.is-active #{post.post_id}
              span.date #{post.date}
              span.comments #{post.comments}
              span.likes #{post.likes}
              span.username #{post.owner_username}
              span.name #{post.owner_full_name}
              span.caption #{post.caption}
              span.thumbnail #{post.display_src}