extends layout

block content
  
  .preview

    a.close(href="/")

    header
      h3.title-m ##{title}

    .filters

      .select-holder
        select.filter(data-filter=1)
          option(disabled selected) Select filter
          each filter in filters
            option(selected=(filter=='id')) #{filter}

      .select-holder
        select.filter(data-filter=2)
          option(disabled selected) Select filter
          each filter in filters
            option(selected=(filter=='likes')) #{filter}

      .select-holder
        select.filter(data-filter=3)
          option(disabled selected) Select filter
          each filter in filters
            option(selected=(filter=='username')) #{filter}


    .results

      if posts.length

        each post in posts
      
          .result

            each i in [1,2,3]

              div.filter-row(class='filter-'+ i)
                span.id(class= i === 1 ? "is-active" : "") #{post.post_id}
                span.date #{post.date}
                span.comments #{post.comments}
                span.likes(class= i === 2 ? "is-active" : "")  #{post.likes}
                span.username(class= i === 3 ? "is-active" : "")  #{post.owner_username}
                span.name #{post.owner_full_name}
                span.caption #{post.caption}
                span.thumbnail 
                  img(src="#{post.display_src}",style="max-width:100%;")

      else

        .loader
          .lds-css
            .lds-gear[style="100%;height:100%"]
              div
                div
                div
                div
                div
                div
                div
                div
                div